<footer>
  <nav class="py-4">
    <ul
      class="flex justify-between uppercase font-medium text-sm text-transparent md:text-base"
    >
      <spam>
        <a class="silver hover:brightness-150" href="#"
          >Términos y Condiciones</a
        >
      </spam>

      <spam>
        <a class="silver hover:brightness-150" href="#"
          >Política de Privacidad</a
        >
      </spam>
    </ul>
  </nav>
</footer>
