<header>
  <nav class="py-4">
    <ul
      class="flex justify-end uppercase font-medium text-sm text-transparent md:text-base"
    >
      <li>
        <a class="silver hover:brightness-150" href="#contact">contacto</a>
      </li>
    </ul>
  </nav>
</header>
