<section class="mb-section">
  <h1
    class="silver mb-14 pt-4 text-[4rem] font-extrabold text-center leading-[4rem] md:text-[8rem] md:leading-[7rem] md:text-start"
  >
    la ñora
  </h1>
  <figure>
    <div class="relative mb-4">
      <img
        class="w-full object-cover rounded-br-[3rem] md:h-[30rem] md:rounded-br-[10rem]"
        src="/images/la-nora/heroImage.jpg"
        alt="Hero Image"
      />
      <a href="#contact" aria-label="Ir a Contacto">
        <img
          class="border-zinc-950 absolute w-[5rem] right-[20%] bottom-0 translate-y-1/2 z-20 border-[8px] rounded-full md:w-[8rem]"
          src="/images/another/pin.png"
        />
      </a>
    </div>
    <figcaption class="silver uppercase font-medium text-xs md:text-base">
      © García y García 2020
    </figcaption>
  </figure>
</section>
