---
import CheapButton from "../utils/CheapButton.astro";
import PortfolioCard from "../utils/PortfolioCard.astro";
---

<section class="mb-section">
  <h2 class="text-title mb-4">proyecto</h2>
  <div class="grid gap-8 mb-8 md:grid-cols-2">
    <p class="text-sm opacity-50">
      Descubre nuestra nueva promoción inmobiliaria en La Ñora, Ideal tanto para
      inversiones como para vivir, esta promoción se encuentra junto a la UCAM.
    </p>
    <aside class="flex flex-wrap gap-4 text-sm md:justify-items-end">
      <CheapButton> inversión </CheapButton>
      <CheapButton> residencial </CheapButton>
      <CheapButton> calidades </CheapButton>
    </aside>
  </div>
  <div
    class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden"
  >
    <div class="w-full h-full lg:col-span-2">
      <PortfolioCard
        src="images/la-nora/renderPlanos.jpg"
        alt="some building"
        title="Planos"
      />
    </div>
    <div class="w-full h-full lg:row-span-2">
      <PortfolioCard
        src="images/la-nora/planos.jpg"
        alt="some building"
        title="Calidades"
      />
    </div>
    <div class="w-full h-full lg:row-span-2">
      <PortfolioCard
        src="images/la-nora/dalleRender.webp"
        alt="some building"
        title="Edificio Este"
      />
    </div>
    <div class="w-full h-full lg:col-span-2">
      <PortfolioCard
        src="images/la-nora/renderSimple.jpg"
        alt="some building"
        title="Edificio Oeste"
      />
    </div>
  </div>
</section>
