<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
  <h2 class="text-title">Construimos tu futuro, tu hogar comienza aquí</h2>
  <p class="neutral-100 opacity-50 text-sm md:text-base">
    Con nuestro compromiso con la calidad y la innovación, hacemos realidad tu
    sueño de un hogar perfecto, proporcionando una base sólida para tu futuro y
    el de tu familia.
  </p>
</section>
