---
interface Props {
  src: string;
  alt: string;
  name: string;
  href?: string;
}
const { src, alt, name, href = "#" } = Astro.props;
---

<a
  class="block relative w-full h-full cursor-pointer group overflow-hidden"
  href={href}
>
  <img class="w-full h-full object-cover grayscale" src={src} alt={alt} />
  <div
    class="bg-slate-500 bg-opacity-80
    absolute bottom-0 w-full p-2 gap-1 backdrop-blur-md
    translate-y-0 opacity-100
    md:translate-y-full md:opacity-0
    group-hover:translate-y-0 group-hover:opacity-100
    transition-transform duration-500
    md:gap-2"
  >
    <h3 class="text-lg font-medium md:text-xl lg:text-3xl">
      {name}
    </h3>
  </div>
</a>
